
@{
    ViewBag.Title = "Area de Matenimineto";
}
<br />
<h4 class="text-xl-center">Area Para realizar Los Mantenimientos</h4>
<br />
<div class="text-black-50 text-center position-relative ">
    @Html.ActionLink("Añadir Peliculas", "Index", "Mantenimiento")
</div>
<br />
<div class="text-black-50 text-center position-relative ">
    @Html.ActionLink("Añadir Videos", "IndexVideo", "MantenimientoVideo")

</div>
<br />
<div class="text-black-50 text-center position-relative ">

    @Html.ActionLink("Añadir Musica", "IndexMusica", "MantenimientoMusica")
</div>


