@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h1>@ViewBag.Message</h1>



<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>